.container {
    margin: 0 auto !important;
    .font-size-14 {
        font-size: 14px !important;
    }
    .text-center {
        text-align: center;
    }
    .text-c-red {
        color: red;
    }
    .text-c-primary {
        color: var(--primary);
    }
    .rows {
        text-align: -webkit-center;
        width: -webkit-fill-available;

        .form-login {
            padding: 20px;
            box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
            .error {
                text-align: left;
                margin-top: -15px;
                .text-error {
                    color: red;
                    font-size: 11px;
                }
            }
        }

        h4 {
            font-family: 'Roboto Slab', serif;
            font-weight: 600;
            line-height: 40px;
            font-size: 18px;
            color: #333333;
            margin-top: 10px;
            border-bottom: 1px dashed #808080;
            display: inline-block;
            position: relative;
            margin: 20px 0;
        }
        input {
            margin-bottom: 20px;
        }
        .hr-empty {
            border-bottom: solid 1px #ccc;
            margin-bottom: 20px;
        }
        .register-span {
            display: flex;
            .text-register {
                margin-left: 10px;
                color: cadetblue;
            }
            .text-register :hover {
                color: darkcyan;
            }
        }

        .forgot-span {
            text-align: right;
            .text-forgot {
                margin-left: 10px;
                color: cadetblue;
            }
            .text-forgot :hover {
                color: darkcyan;
            }
        }
        .login-gg {
            padding: 0px 15px;
        }
        button {
            width: 100%;
            line-height: 30px;
            color: white;
            position: relative;
            display: block;
            cursor: pointer;
            text-align: left;
            padding-left: 60px;
            i {
                position: absolute;
                left: 0;
                border-right: solid 1px #ccc;
                width: 50px;
                height: 40px;
                top: 0;
                line-height: 40px;
                text-align: center;
            }
        }
    }
}
