.wrapper {
    padding: 60px 0;
    .btn {
        // display: block;
        background-color: var(--primary);
        color: white;
        border-radius: 5px;
        padding: 5px 25px;
        margin-bottom: 5px;
        &:hover {
            background-color: #358c3b;
        }
    }
    .name {
        color: var(--primary);
        font-weight: 600;
    }
    .list {
        .item {
            padding: 5px 0;
            .icon {
                width: 20px;
                color: var(--primary);
            }
        }
        font-size: 1.4rem;
    }
    .title {
        color: black;
        font-size: 1.4rem;
    }
    .describe {
        font-size: 1.4rem;
    }
}
.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #dce0dc;
}
.loading-icon {
    color: var(--primary);
    margin-right: 4px;
    cursor: pointer;
}
.loading-icon {
    animation: spinner 0.8s linear;
}
@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
