@import 'normalize.css';
@import '~bootstrap/scss/bootstrap';

:root {
    --primary: #43b14b;
    --sub: yellow;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --font-family: 'Open Sans', sans-serif;
    // Default layout
    --default-layout-header-height: 195px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.7;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
    //reset css input react-bootstrap
    textarea:focus,
    textarea.form-control:focus,
    input.form-control:focus,
    input[type=text]:focus,
    input[type=password]:focus,
    input[type=email]:focus,
    input[type=number]:focus,
    [type=text].form-control:focus,
    [type=password].form-control:focus,
    [type=email].form-control:focus,
    [type=tel].form-control:focus,
    [contenteditable].form-control:focus {
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0,0.3);
    }
    // reset css button react-bootstrap
    .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show{
        background-color: #ccc;
        color: var(--text-color);
        border-color: var(--border-color);
    }
    //Css for react-select library
    .form-select:focus{
        outline: none;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0,0.3);
    }
    .react-select__control:focus{
        outline: none;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0,0.3);
    }
    .react-select__control:hover{
       border: 1px solid #ccc
    }
    .react-select__control{
        height: 48px;
        box-shadow: none;
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }
    .react-select__dropdown-indicator.react-select__indicator{
        display: none;
    }
    .react-select__indicators{
        display: none;
    }
    .react-select__option--is-focused{
        background-color: #5897FB;
    }
    .react-select__multi-value__remove:hover{
       background-color: #e6e6e6;
        color: rgba(0, 0, 0, 0.5);

    }


}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
button,
input {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}

.form-control,
.btn-outline-secondary {
    font-size: 1.4rem;
    height: 48px;
    padding: 4px 20px;
}
.btn-outline-secondary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 30px;
    color: var(--white);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover {
        background-color: #358c3b;
    }
    &:active {
        background-color: #358c3b;
    }
}
.accordion-item {
    border: none;
}
.accordion-button::after {
    display: none;
}
.carousel.carousel-slider .control-arrow {
    display: none;
}
.carousel {
    .carousel-status {
        display: none;
    }
    .thumbs {
        display: none;
    }
    .control-dots {
        margin: 50px 0;
        .dot {
            width: 12px;
            height: 12px;
        }
    }
    .slider {
        margin-bottom: 50px;
    }
    .thumbs-wrapper {
        display: none;
    }
    .carousel .control-arrow {
        display: none !important;
    }
}
