.wrapper {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

// css information
.information {
    padding-left: 12px !important;
}

.title {
    font-weight: 500;
    color: #333;
    font-size: 2.6rem;
    margin-top: 0 !important;
}
.wallet {
    z-index: 0;
}
.history-title {
    background-color: var(--primary);
    color: white;
}
.history-none {
    display: flex;
    justify-content: center;
    height: 180px;
    align-items: center;
    flex-direction: column;
}
