.sidebar-left {
    width: 100%;
}

.avatar {
    position: relative;
    width: 100%;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.edit {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: #ccc;
    border-radius: 0;
    font-size: 1.4rem;
    padding: 2px 8px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: var(--white);
    }

    &.hide {
        display: none;
    }
}

.edit-function {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    @media screen and (max-width: 1400px) {
        flex-direction: column;
    }
    @media screen and (max-width: 768px) {
        flex-direction: row;
    }

    .function {
        margin-right: 6px;
        margin-bottom: 20px;

        &:active {
            background-color: rgba(0, 0, 0.4) !important;
        }
    }
}

body .close {
    background-color: #f0f0f0 !important;
    color: #333;
    border: 1px solid transparent;
    &:focus {
        background-color: #f0f0f0;
    }

    &:hover {
        background-color: #f0f0f0;
        outline: none;
        border: 1px solid #f0f0f0;
        color: #333;
    }
}

.account {
    font-size: 2.4rem;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 20px;
    @media screen and (max-width: 1200px) {
        font-size: 1.6rem;
    }
}

.info {
    padding: 20px;
    background-color: #333;

    .info-item {
        font-size: 2rem;
        color: var(--white);
        .btn-logout {
            font-size: 2rem;
            font-weight: bold;
            padding: 10px 0;
            background-color: transparent;
            color: var(--primary);
            text-decoration-style: solid;
            text-decoration-color: var(--primary);
            & :hover {
                color: white;
            }
        }
        @media screen and (max-width: 1200px) {
            font-size: 1.4rem;
        }

        span:first-child {
            @media screen and (max-width: 1200px) {
                font-size: 1.4rem;
            }
        }
    }
}

.list-route {
    padding-top: 14px;
}

.route-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-weight: 500;
    border-bottom: 1px dashed #d3d3d3;
    padding: 10px 0 10px 15px;
    color: #d3d3d3;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
        color: #737373;
    }

    @media screen and (max-width: 1200px) {
        padding-left: 8px;
    }
    @media screen and (max-width: 992px) {
        display: inline-flex;
        align-items: start;
    }
    @media screen and (max-width: 768px) {
        display: flex;
        align-items: start;
    }

    .icon {
        font-size: 1.8rem;
        margin-right: 4px;
        @media screen and (max-width: 1200px) {
            font-size: 1.4rem;
        }
    }

    .route-link {
        color: #d3d3d3;
        font-size: 2rem;

        &:hover {
            color: #737373;
        }

        @media screen and (max-width: 1200px) {
            font-size: 1.4rem;
        }
    }
}
