.box-form {
    display: flex !important;
    font-size: 1.6rem;
    margin-left: 5px;
    .box-input {
        height: 50px;
        .input-text {
            color: #333;
            height: 100%;
            padding: 0 10px;
            margin-right: 20px;
            width: 100%;
        }
        .btn-text {
            height: 100%;
            padding: 0 10px;
            margin-right: 20px;
            width: 100px;
            border-radius: 5px;
            background-color: var(--primary);
            color: white;
            &:hover {
                background-color: #358c3b;
            }
            .icon-search {
                margin-left: 10px;
            }
        }
    }
}
